/* .jodit-toolbar-button,
.jodit-ui-separator,
.jodit-tabs__buttons,
.jodit-status-bar,*/
.jodit-status-bar {
    display: none !important;
}

/* .jodit-toolbar-button_image {
    display: block !important;
} */
.jodit-workplace {
    height: calc(100vh - 350px) !important;
}

.backBtn {
    padding: 5px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.5s;
}

.backBtn:hover {
    transform: scale(1.1);
}
.sendBoardInfoBtn {
    position: absolute;
    right: 15px;
    height: 30px;
    width: 60px;
    border: none;
    background-color: rgb(121, 167, 165);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #979797;
}

.sendBoardInfoBtn:hover {
    box-shadow: 1px 1px 1px 1px #979797 inset;
}

.loading {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.react-datepicker-wrapper {
    position: fixed;
    top: 20px;
    width: 72px;
    right: 50px;
    .dateDiv {
        width: 72px;
    }
}
.react-datepicker-popper {
    z-index: 50;
}
